#meal-plan {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#meal-plan td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 200px;
}
  
#meal-plan tr:nth-child(even){background-color: #f2f2f2;}
  
#meal-plan tr:hover {background-color: #ddd;}
  

