// CSS Designs by https://codepen.io/davatron5000/pen/XdwLbp

body {
  padding: 5%;
}

table {
  width: 100%;
  table-layout: fixed;
  max-width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-collapse: collapse;
  margin-bottom:1em;
  
  
  th, td {
    min-width: 100%;
    
    padding: 0.5em 1em;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    white-space: pre;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    a{
      img{
        width: 24px;
        cursor: pointer;
        height: 24px;
        margin: 0 10px 0 0;
      }
    }
    
  }
  
  tbody td {
    text-align: center;
    
  }
  
  thead {
    color: white;
    background: #0cf;
    
    th {
      padding: 1em;
    }
  }
  
  &[data-comparing="active"] tbody th {
    border-bottom: none;
    font-size: 0.75em;
    color: #767676;
    padding-bottom: 0;
  }

}

