.auth-form{
    box-shadow: rgba(0,0,0,.2);
    padding: 35px;
    width: 500px;
    border-radius: 5px;
    border: 1px solid #c1cedb;
    margin: 50px auto;
    &__btn{
        margin: 10px 0 30px;
    }
    input{
        margin: 0 0 10px;
        font-size: 16px;
        text-align: center;
        padding: 10px 12px;
        background: #fafcfd;
        color: #4988e6;
        width: 94%;
        border: 1px solid #d1deeb;
        outline: 0;
    }
    label{
        margin: 0;
        display: block;
    }
    
}

:host ::ng-deep {
    button {
        cursor: pointer;
        outline: 0;
        width: 100%;
        border-radius: 2px;
        border: 1px solid #f8ae91;
        background: #e2b8a5;
        color: #fff;
        padding: 10px;
        font-size: 16px;
        font-weight: 600;
        transition: all 0.4s ease-in-out;
        &:hover {
            background: #5bf3c0;
            border-color: darken(#39fa90, 5%);
        }
    }
}

.err {
    color: #a94442;
    background: #f2dede;
    border: 1px solid #e4b3b3;
    border-radius: 2px;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 0;
}

.logo {
    font-size: 18px;
    font-weight: 500;
    color: #d4acab;
    text-align: center;
    margin: 0 0 15px;
    border-bottom: 1px solid #e9ddcc;
}