.auth-form{
    background: #fff;
    box-shadow: 0 3px 4px rgba(0,0,0,.1);
    border-radius: 3px;
    border: 1px solid #c1cedb;
    width: 500px;
    margin: 50px auto;
    padding: 30px;
    &__btn{
        margin: 10px 0 30px;
    }
    &__link{
        border-radius: 0 0 3px 3px;
        border-top: 1px solid #c1cedb;
        background: #f8fafc;
        padding: 10px;
        margin: 0 -30px -30px;
    }
    input{
        outline: 0;
        font-size: 16px;
        padding: 10px 15px;
        margin: 0;
        padding-right: 25px;
        width: 90%;
        background: #fafcfd;
        color: #5777a8;
        border: 1px solid #d1deeb;
        text-align: center;
        &::-webkit-input-placeholder {
            color: #5777a8;
        }
        &[type=email] {
            border-radius: 3px 3px 0 0;
        }
        &[type=password] {
            border-radius: 0 0 3px 3px;
            margin: -1px 0 0;
        }
    }
    label{
        margin: 0;
        display: block;
    }
}

:host ::ng-deep {
button {
    cursor: pointer;
    outline: 0;
    width: 98%;
    border-radius: 2px;
    border: 1px solid #1c79b8;
    background: #39a1e7;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    &:hover {
        background: darken(#39a1e7, 5%);
        border-color: darken(#1c79b8, 5%);
    }
    &:disabled {
        opacity: .4;
        cursor: not-allowed;
    }
}
}