

// table
// css styles from w3c
#meal-plan {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#meal-plan td {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#meal-plan tr:nth-child(even){background-color: #f2f2f2;}
  
#meal-plan tr:hover {background-color: #ddd;}
  
#meal-plan th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.meal-section{
    background-color: #f4f2f2;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(62, 63, 62);
    padding: 5px 10px;
}