.app-header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 31.25rem) {
        flex-wrap: wrap;
        align-content: space-around;
        height: 11rem;
    }

    &__logo{
        height: 3.25rem;
        margin-left: 3rem;
    }

    &__user-nav {
        align-items: center;
        display: flex;
    
        &__icon {
            width: 2.25rem;
            height: 2.25rem;
            margin-right: 20px;
        }
    
        &__icon-box {
            position: relative;
        }
    
    } 
}

span{
    font-size: 14px;
    font-weight: 600;
    margin-top: 14px;
    margin-right: 920px;
    @media only screen and (max-width: 31.25rem) {
        display: none;
    }
}

